body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/150/172/original/Screenshot_2024-11-12_172110.png?1731432091");
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-family: yellowtail;
  font-size: 55px;
  font-weight: lighter;
  color: #b0808a;
  text-shadow: 1px 1px rgb#c3c1c26d;
}

h2 {
  margin: 0 0 10px;
  font-size: 30px;
  color: rgb(104, 183, 196);
  text-shadow: 1px 1px rgb#e4d9defc;
}

.container {
  background-color: #3b434ccb;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-bottom: 1px dashed #b0808a;
  padding: 20px;
  padding-bottom: 20px;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.8;
  color: rgba(185, 197, 206, 0.956);
  font-weight: bold;
  text-shadow: 1px 1px rgb#c3c1c26d;
}

.time {
  font-size: 50px;
  font-weight: bold;
  color: rgb(104, 183, 196);
  text-shadow: 1px 1px rgb#e4d9defc;
}

.time small {
  font-size: 22px;
  vertical-align: middle;
  line-height: 45px;
  color: rgb(173, 228, 236);
  text-shadow: 1px 1px rgb#e4d9defc;
}
select {
  display: block;
  color: rgba(67, 99, 123, 0.956);
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  border-color: rgba(67, 99, 123, 0.956);
}

footer {
  text-align: center;
  font-size: 15px;
  color: rgb(11, 11, 11);
  margin-top: -3%;
}

a {
  color: rgb(11, 11, 11);
}
